<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624557244157-hefk1108vfrkakdg2tq0epgtdnuf4msf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624557244157-hefk1108vfrkakdg2tq0epgtdnuf4msf</string>
	<key>API_KEY</key>
	<string>AIzaSyCHzrk6ku3_TQbDH02YsweOzzWRcB5qu1c</string>
	<key>GCM_SENDER_ID</key>
	<string>624557244157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netopaez.meal</string>
	<key>PROJECT_ID</key>
	<string>mealkansascity</string>
	<key>STORAGE_BUCKET</key>
	<string>mealkansascity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624557244157:ios:777e30076f9b014ffe0894</string>
	<key>DATABASE_URL</key>
	<string>https://mealkansascity.firebaseio.com</string>
</dict>
</plist>